<div class="w-full flex flex-col">
  <script src="../storeino-app-admin.js"></script>
  <link
    href="https://cdn.jsdelivr.net/npm/tailwindcss@latest/dist/tailwind.min.css"
    rel="stylesheet"
  />
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-chartjs@3"></script>

  <div
    style="background-color: #fff; color: black"
    class="mb-16"
    id="app_simulator"
    v-if="data"
  >
    <template>
      <div class="w-full text-xl" v-if="data">
        <h1
          style="background-color: #4a78cf"
          class="w-full text-center p-3 text-white"
        >
          {{'appName'|t}}
        </h1>
        <div class="tabs">
          <div class="tab-headers">
            <button
              v-for="(tab, index) in tabs"
              :key="index"
              :class="{ active: activeTab === tab.name }"
            >
              <div
                class="w-full"
                :style="{
                  backgroundColor: activeTab === tab.name ? '#4a78cf' : '',
                  border: '2px solid #4a78cf'
                }"
                style="border: 2px solid #4a78cf"
                :class="[
          'py-2 px-4 text-sm font-medium rounded-t-lg transition-all',
          activeTab === tab.name
            ? 'text-white '
            : 'text-gray-950 '
        ]"
                @click="selectTab(tab.name)"
              >
                {{ tab.title }}
              </div>
            </button>
          </div>

          <div class="tab-content">
            <div
              v-for="tab in tabs"
              :key="tab.name"
              v-if="activeTab === tab.name"
            >
              <div v-if="tab.name === 'main'">
                <div class="flex justify-between">
                  <div class="w-full gap-4">

                    <div
                      class="gap-4 flex flex-wrap items-center"
                    >
                      <div>
                        <label
                          class="flex items-center p-1 space-x-2 text-sm font-medium text-gray-700 gap-2"
                        >
                          <span>{{'buyCost'|t}} </span>
                          <span v-html="svg('buy')"></span>
                        </label>
                        <input
                          v-model="buyPrice"
                          type="text"
                          placeholder="Buy Price"
                          class="mt-1 w-full px-3 py-2 border border-gray-300 required:border-red-500 rounded-md shadow-sm focus:outline-none focus:ring-sky-500 focus:border-sky-500"
                        />
                      </div>

                      <div>
                        <div>
                          <label
                            class="flex items-center p-1 space-x-2 text-sm font-medium text-gray-700 gap-2"
                          >
                            <span>{{'adsCost'|t}} </span>
                            <span v-html="svg('ads')"></span>
                          </label>
                          <input
                            v-model="adscost"
                            type="text"
                            placeholder="Enter ads cost"
                            class="mt-1 w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-sky-500 focus:border-sky-500"
                          />
                        </div>
                      </div>

                      <div>
                        <label
                          class="flex items-center p-1 space-x-2 text-sm font-medium text-gray-700 gap-2"
                        >
                          <span>{{'order'|t}}</span>
                          <span v-html="svg('ordered')"></span>
                        </label>
                        <input
                          v-model="ordersLeadNumber"
                          type="text"
                          placeholder="How many orders"
                          class="mt-1 w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-sky-500 focus:border-sky-500"
                        />
                      </div>

                      <div>
                        <label
                          class="flex items-center p-1 space-x-2 text-sm font-medium text-gray-700 gap-2"
                        >
                          <span>{{'salePrice'|t}}</span>
                          <span v-html="svg('sell')"></span>
                        </label>
                        <input
                          v-model="SalePrice"
                          type="text"
                          placeholder="Enter Sale Price"
                          class="mt-1 w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-sky-500 focus:border-sky-500"
                        />
                      </div>

                    
                    </div>
                    <div class="flex flex-col  ">
                      
                      <div class="gap-4 flex flex-wrap mt-4">
                        <div>
                          <label class="block text-sm font-medium text-gray-700">
                            {{'confirmation'|t}}
                          </label>
                          <input
                            v-model="confirmationcost"
                            type="text"
                            placeholder="Cost per Confirmation"
                            class="mt-1 w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-sky-500 focus:border-sky-500"
                          />
                        </div>
  
                        <div>
                          <label class="block text-sm font-medium text-gray-700">
                            {{'storage'|t}}
                          </label>
                          <input
                            v-model="stockagecost"
                            type="text"
                            placeholder="Cost per Stockage"
                            class="mt-1 w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-sky-500 focus:border-sky-500"
                          />
                        </div>
  
                        <div>
                          <label class="block text-sm font-medium text-gray-700">
                            {{'delivery'|t}}
                          </label>
                          <input
                            v-model="deliverycost"
                            type="text"
                            placeholder="Cost per Delivery"
                            class="mt-1 w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-sky-500 focus:border-sky-500"
                          />
                        </div>

                        <div>
                          <label class="block text-sm font-medium text-gray-700">
                            {{'fixedCost'|t}}
                          </label>
                          <input
                            v-model="fixedCost"
                            type="text"
                            placeholder="Fixed Cos"
                            class="mt-1 w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-sky-500 focus:border-sky-500"
                          />
                        </div>
                      </div>
                    </div>
                    <div class="flex flex-wrap gap-4 pt-2 w-full inputRanges">
                      <div>
                        <label
                          class="flex flex-wrap items-center p-1 space-x-2 text-sm font-medium text-gray-700 gap-2"
                        >
                          <span>{{'confirmation'|t}}</span>
                          <span v-html="svg('confirmed')"></span>
                        </label>
                        <div class="flex items-center w-full max-w-md gap-2">
                          <!-- Range Input for ConfirmedRate -->
                          <input
                            type="range"
                            id="price"
                            name="price"
                            min="0"
                            max="100"
                            step="1"
                            :value="ConfirmedRate"
                            class="w-full h-2 bg-gray-300 rounded-lg appearance-none focus:outline-none focus:ring-2 focus:ring-blue-500"
                            @input="updateConfirmationRateFromInput($event.target.value)"
                          />
                          <!-- Text Input for ConfirmedRate -->
                          <div
                            class="p-1 flex items-center space-x-1 text-center text-lg border border-gray-300 rounded-lg  focus:outline-none"
                          >
                            <input
                              type="text"
                              id="priceInput"
                              :value="ConfirmedRate"
                              @input="updateConfirmationRateFromInput($event.target.value)"
                              class=" w-12 outline-none text-center"
                            />
                            <span class="text-lg font-medium text-gray-700"
                              >%</span
                            >
                          </div>
                          <!-- Text Input for ConfirmationValue -->
                          <div
                            class="p-1 flex items-center space-x-1 text-center text-lg border border-gray-300 rounded-lg  focus:outline-none"
                          >
                            <input
                              type="text"
                              id="valueInput"
                              :value="ConfirmationValue"
                              @input="updateConfirmationValueFromInput($event.target.value)"
                              class=" outline-none text-center"
                            />
                          </div>
                        </div>
                      </div>

                      <div>
                        <label
                          class="flex items-center p-1 space-x-2 text-sm font-medium text-gray-700 gap-2"
                        >
                          <span>{{'delivery'|t}}</span>
                          <span v-html="svg('deleivred')"></span>
                        </label>
                        <div class="flex items-center w-full max-w-md gap-2">
                          <!-- Range Input for DeliverdRate -->
                          <input
                            type="range"
                            id="price"
                            name="price"
                            min="0"
                            max="100"
                            step="1"
                            :value="DeliverdRate"
                            class="w-full h-2 bg-gray-300 rounded-lg appearance-none focus:outline-none focus:ring-2 focus:ring-blue-500"
                            @input="updateDeliveryRateFromInput($event.target.value)"
                          />
                          <!-- Text Input for DeliverdRate -->
                          <div
                            class="p-1 flex items-center space-x-1 text-center text-lg border border-gray-300 rounded-lg  focus:outline-none"
                          >
                            <input
                              type="text"
                              id="priceInput"
                              :value="DeliverdRate"
                              @input="updateDeliveryRateFromInput($event.target.value)"
                              class=" w-12 outline-none text-center"
                            />
                            <span class="text-lg font-medium text-gray-700"
                              >%</span
                            >
                          </div>
                          <!-- Text Input for DeliveryValue -->
                          <div
                            class="p-1 flex items-center space-x-1 text-center text-lg border border-gray-300 rounded-lg  focus:outline-none"
                          >
                            <input
                              type="text"
                              id="valueInput"
                              :value="DeliveryValue"
                              @input="updateDeliveryValueFromInput($event.target.value)"
                              class=" outline-none text-center"
                            />
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="w-full mt-4 text-gray-700 ">
                      <h1
                        class="text-lg font-bold flex items-center mb-2 pb-2 gap-2 flex"
                      >
                        <span>{{'details'|t}}</span>
                        <span
                          v-html="svg(ShowDetails ? 'close' : 'open')"
                          @click="ShowDetails = !ShowDetails"
                          class="cursor-pointer text-red-500 hover:text-red-700"
                        ></span>
                      </h1>
                      <div v-if="ShowDetails" class="gap-2 flex flex-wrap">
                        <div class="flex flex-col gap-2">
                          <div class=" ">
                            <label class="block text-sm font-medium">
                              Ads Cost per Lead
                            </label>
                            <input
                              v-model="LeadCostAds"
                              type="text"
                              disabled
                              placeholder="Real Ads Cost "
                              class="mt-1 bg-gray-50  bg-opacity-50 w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-sky-500 focus:border-sky-500"
                            />
                          </div>
                          <div >
                            <label class="block text-sm font-medium">
                              {{'adsCostPerConfirmation'|t}}
                            </label>
                            <input
                              v-model="confirmationLeadCostAds"
                              type="text"
                              disabled
                              placeholder="Enter Confirmation Cost"
                              class="mt-1 bg-gray-50 bg-opacity-50 w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-sky-500 focus:border-sky-500"
                            />
                          </div>
                          <div>
                            <label class="block text-sm font-medium">
                              {{'adsCostPerDelivery'|t}}
                            </label>
                            <input
                              v-model="realAdsCost"
                              type="text"
                              disabled
                              placeholder="Enter Confirmation Cost"
                              class="mt-1 w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-sky-500 focus:border-sky-500"
                            />
                          </div>

                        </div>

                        <div class="flex flex-col gap-2">
                          <div>
                            <label class="block text-sm font-medium">
                              {{'expenses'|t}}
                            </label>
                            <input
                              v-model="expenses"
                              type="text"
                              disabled
                              placeholder="Enter Storage Cost"
                              class="mt-1 w-full bg-gray-50  bg-opacity-50 px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-sky-500 focus:border-sky-500"
                            />
                          </div>

                          <div>
                            <label class="block text-sm font-medium">
                              {{'revenue'|t}}
                            </label>
                            <input
                              v-model="revenue"
                              type="text"
                              disabled
                              placeholder="Enter Delivery Cost"
                              class="mt-1 w-full bg-gray-50 bg-opacity-50 px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-sky-500 focus:border-sky-500"
                            />
                          </div>

                          <div>
                            <label class="block text-sm font-medium">
                              {{'sales'|t}}
                            </label>
                            <input
                              v-model="sales"
                              type="text"
                              disabled
                              placeholder="Enter Delivery Cost"
                              class="mt-1 w-full bg-gray-50 bg-opacity-50 px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-sky-500 focus:border-sky-500"
                            />
                          </div>
                        </div>

                        <div class="flex flex-col gap-2">
                          <div>
                            <label class="block text-sm font-medium">
                              {{'investment'|t}}
                            </label>
                            <input
                              v-model="investment"
                              type="text"
                              disabled
                              placeholder="Enter Storage Cost"
                              class="mt-1 w-full px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-sky-500 focus:border-sky-500"
                            />
                          </div>
                          <div>
                            <label class="block text-sm font-medium">
                              {{'profitPerProduct'|t}}
                            </label>
                            <input
                              v-model="profitInProduct "
                              type="text"
                              disabled
                              placeholder="Enter Storage Cost"
                              class="mt-1 w-full bg-gray-50 bg-opacity-50 px-3 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-sky-500 focus:border-sky-500"
                            />
                          </div>
                          <div>
                            <label class="block text-sm font-medium">
                              {{'roi'|t}}
                            </label>
                            <input
                              v-model="Rio "
                              type="text"
                              disabled
                              placeholder="Enter Storage Cost"
                              class="mt-1 w-full px-3 bg-gray-50 bg-opacity-50 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-sky-500 focus:border-sky-500"
                            />
                          </div>
                        </div>

                          <div class=" flex flex-col gap-2">
                            <div
                            class="profit flex flex-wrap  gap-2 "
                          >

                          <div 
                          :class="{
                            'text-green-600 ': profits >= 0,
                            'text-red-600 ': profits < 0
                          }"
                          >
                            <label class="block text-sm font-medium text-gray-700">
                              {{'profit'|t}}
                            </label>
                            <input
                              v-model="profits"
                              type="text"
                              disabled
                              placeholder="0.00"
                              class="mt-1 w-full bg-gray-50 px-3 py-2 bg-gray-50 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-sky-500 focus:border-sky-500"
                            />
                          </div>
                          </div>
                          </div>
                       
                      </div>
                    </div>
               
                   
                  </div>

                 
                </div>

                <div class="w-full flex justify-end">
                  <button
                    class="p-2 rounded-lg"
                    style="border: 2px solid #4a78cf; color: #4a78cf"
                    @click="toSaveData=true"
                  >
                    {{'addToAnalytics'|t}}
                  </button>
                </div>

                <div
                  v-if="toSaveData"
                  style="z-index: 99999"
                  class="fixed flex justify-center items-center top-0 left-0 right-0 w-full h-screen bg-black bg-opacity-50"
                >
                  <div
                    class="bg-white shadow-md rounded-lg p-6 max-w-md w-full"
                  >
                    <h1
                      class="text-xl font-bold mb-4 text-gray-800 w-full flex justify-between items-center"
                    >
                      <span>{{'saveInAnalytics'|t}}</span>
                      <span
                        class="shadow-md"
                        v-html="svg('cancel')"
                        @click="toSaveData=false"
                      ></span>
                    </h1>
                    <div class="mb-6">
                      <label
                        for="month-select"
                        class="block text-sm font-medium text-gray-600 mb-2"
                      >
                        {{'selectMonthLabel'|t}}</label
                      >
                      <select
                        id="month-select"
                        v-model="selectedMonth"
                        class="w-full border border-gray-300 rounded-md px-4 py-2 focus:ring-2 focus:ring-sky-500"
                      >
                        <option value="January">{{'January'|t}}</option>
                        <option value="February">{{'February'|t}}</option>
                        <option value="March">{{'March'|t}}</option>
                        <option value="April">{{'April'|t}}</option>
                        <option value="May">{{'May'|t}}</option>
                        <option value="June">{{'June'|t}}</option>
                        <option value="July">{{'July'|t}}</option>
                        <option value="August">{{'August'|t}}</option>
                        <option value="September">{{'September'|t}}</option>
                        <option value="October">{{'October'|t}}</option>
                        <option value="November">{{'November'|t}}</option>
                        <option value="December">{{'December'|t}}</option>
                      </select>
                    </div>
                    <div class="mb-6">
                      <label
                        for="month-select"
                        class="block text-sm font-medium text-gray-600 mb-2"
                      >
                        {{'selectYearLabel'|t}}</label
                      >
                      <select
                        id="year-select"
                        v-model="selectedYear"
                        class="w-full border border-gray-300 rounded-md px-4 py-2 focus:ring-2 focus:ring-sky-500"
                      >
                        <option value="2024">{{'2024'|t}}</option>
                        <option value="2025">{{'2025'|t}}</option>
                        <option value="2026">{{'2026'|t}}</option>
                        <option value="2027">{{'2027'|t}}</option>
                      </select>
                    </div>
                  
                    <button
                      style="background-color: #734e94; color: white"
                      class="font-medium p-2 w-full rounded-lg mt-4"
                      @click="saveDataAnalytics"
                    >
                      {{'save'|t}}
                    </button>
                  </div>
                </div>
              </div>
              <div
                v-else="tab.name === 'analytics'"
                class="w-full flex flex-col lg:flex-row justify-center gap-4 relative"
                style="min-height: 500px"
              >
                <!-- <div
                  v-if="ShowAiAdvice"
                  style="z-index: 99999"
                  class="fixed flex justify-center top-0 left-0 right-0 w-full h-screen bg-black bg-opacity-50 p-10"
                >
                  <div
                    style="max-height: 750px; min-width: 750px"
                    class="bg-white max-w-lg overflow-y-auto shadow-md rounded-lg p-6 flex flex-col items-center"
                  >
                    <h1
                      style="color: #fff; background-color: chocolate"
                      class="text-2xl font-bold items-center text-gray-800 flex w-full justify-between p-2"
                    >
                      <span > {{'aiAdvice'|t}}</span>
                      <span
                        class="shadow-md bg-white"
                        v-html="svg('cancel')"
                        @click="ShowAiAdvice=false"
                      ></span>
                    </h1>

                    <div
                      v-if="AiAdvices.length === 0"
                      class="w-full h-full flex justify-center items-center"
                    >
                      <div
                        class="loader"
                        aria-label="Loading AI advice..."
                      ></div>
                    </div>

                    <p
                      v-else
                      class="text-lg mt-4 text-gray-600 text-center w-full"
                    >
                      {{ AiAdvices }}
                    </p>
                  </div>
                </div> -->

                <canvas
                  id="mychart"
                  class=""
                  style="max-width: 600px; max-height: 400px"
                ></canvas>

                <div class="p-2 overflow-x-auto w-full gap-2">
                  <div class="w-full flex justify-end p-1">
                    <!-- <button
                      style="background-color: chocolate; color: white"
                      class="flex justify-center items-center p-2"
                      @click="getAiAdvice"

                    >
                      {{'getAiAdvice'|t}}
                    </button> -->
                  </div>
                  <table class="table-auto border-collapse border border-gray-300  text-left">
                    <thead>
                      <tr>
                        <th class="border border-gray-300 px-4 py-2">Month</th>
                        <th class="border border-gray-300 px-4 py-2">Year</th> <!-- New column for Year -->
                        <th
                          v-for="(dataset, index) in AnalyticsData[0]?.datasets || []"
                          :key="index"
                          class="border border-gray-300 px-4 py-2"
                        >
                          {{ dataset.label }}
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr
                        v-for="(monthData, rowIndex) in AnalyticsData"
                        :key="rowIndex"
                      >
                        <td class="border border-gray-300 px-4 py-2">
                          {{ monthData.month }}
                        </td>
                        <td class="border border-gray-300 px-4 py-2">
                          {{ monthData.year }} <!-- Display the year -->
                        </td>
                        <td
                          v-for="(dataset, colIndex) in monthData.datasets"
                          :key="colIndex"
                          class="border border-gray-300 px-4 py-2"
                        >
                          {{ dataset.value }}
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>

              </div>

              <div
                v-if="tab.name === 'settings'"
                class="flex flex-col sm:flex-row gap-6"
              >
                <div class="w-full p-6">
                  <h3 class="text-xl font-semibold text-gray-800 mb-4">
                    Delivery Settings
                  </h3>

                  <div class="mb-4 flex gap-4 items-center">
                    <label
                      for="country"
                      class="text-lg font-medium text-gray-700"
                      >Country</label
                    >
                    <select
                      id="country"
                      class="p-2 border border-gray-300 rounded-md w-full sm:w-auto"
                    >
                      <option value="morocco">Morocco</option>
                      <option value="algeria">Algeria</option>
                      <option value="tunisia">Tunisia</option>
                      <option value="egypt">Egypt</option>
                    </select>
                  </div>

                  <div class="mb-4">
                    <label
                      for="company-select"
                      class="text-lg font-medium text-gray-700"
                      >Shipping Company</label
                    >
                    <select
                      id="company-select"
                      class="p-2 border border-gray-300 rounded-md w-full sm:w-auto"
                    >
                      <option value="aramax">
                        Aramex (Morocco and Africa)
                      </option>
                      <option value="dhl">
                        DHL Express (Global, including Africa)
                      </option>
                      <option value="fedex">
                        FedEx (Global, including Morocco)
                      </option>
                      <option value="yamato">Yamato (Japan to Africa)</option>
                    </select>
                  </div>

                  <div class="mb-6">
                    <h1 class="text-xl font-semibold text-gray-800">
                      Time-Based Analytics
                    </h1>
                    <select
                      class="p-2 border border-gray-300 rounded-md"
                      id="analytics-time"
                    >
                      <option value="weekly" selected>Weekly</option>
                      <option value="monthly">Monthly</option>
                      <option value="yearly">Yearly</option>
                    </select>
                  </div>
                </div>

                <div class="w-full p-6">
                  <h1 class="text-xl font-semibold text-gray-800 mb-4">
                    Cost Delivery Per
                  </h1>

                  <div class="flex gap-6 mb-6">
                    <div class="flex items-center gap-2">
                      <input
                        type="radio"
                        id="lead"
                        name="costType"
                        value="lead"
                        checked
                        class="h-4 w-4 text-blue-500"
                      />
                      <label
                        for="lead"
                        class="text-lg font-medium text-gray-700"
                        >Lead</label
                      >
                    </div>
                    <div class="flex items-center gap-2">
                      <input
                        type="radio"
                        id="order"
                        name="costType"
                        value="order"
                        class="h-4 w-4 text-blue-500"
                      />
                      <label
                        for="order"
                        class="text-lg font-medium text-gray-700"
                        >Order</label
                      >
                    </div>
                  </div>

                  <h1 class="text-xl font-semibold text-gray-800 mb-4">
                    Cost Per
                  </h1>

                  <div class="grid grid-cols-1 sm:grid-cols-2 gap-6">
                    <div class="input-group">
                      <label class="text-lg font-medium text-gray-700"
                        >Confirmation</label
                      >
                      <input
                        type="text"
                        placeholder="Cost per Confirmation"
                        class="p-2 border border-gray-300 rounded-md w-full"
                      />
                    </div>

                    <div class="input-group">
                      <label class="text-lg font-medium text-gray-700"
                        >Stockage</label
                      >
                      <input
                        type="text"
                        placeholder="Cost per Stockage"
                        class="p-2 border border-gray-300 rounded-md w-full"
                      />
                    </div>

                    <div class="input-group">
                      <label class="text-lg font-medium text-gray-700"
                        >Delivery</label
                      >
                      <input
                        type="text"
                        placeholder="Cost per Delivery"
                        class="p-2 border border-gray-300 rounded-md w-full"
                      />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </template>
  </div>
</div>
